
.artistBackground {
    color: whitesmoke;
    background-image:url("../../images/backgrounds/torn-posters.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.artistContainer {
    display: flex;
    justify-content: space-around;
    
}
.mattContianer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mattJolly {
    margin: 3% 3% 0 3%;
    width: 75%;
}
.centerName {
    text-align: center;
}