/* body {
    margin:0;
    border-block: 0;
} */
.artistBackground {
    color: rgb(34,34,34);
    background-image:url("../../images/backgrounds/lennon-wall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3%;
    /* margin: 0; */
}
.artistContainer {
    /* border-block: 0; */
    margin-right: 1px;
    /* margin-right: 0; */
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* justify-content: center; */

    
}
.mattContianer{
    margin: 0;
    width: 50%;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 0.456); 
    justify-content: center;
}
.mattJolly {
  margin: 3% 3% 0 3%;
  width: 65%;
}
.avaContainer {
    background-color: rgba(245, 245, 245, 0.456); 
}
.artistName {
    font-weight: 800;
}
.centerName {
  text-align: center;
}
 @media screen and (max-width:425px) {
    .artistContainer {
        /* margin: 0 !important; */
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }  
    .mattContianer {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 5%;
        width: 60%;
    }  
    .mattJolly {
        padding: 5%;
        width: 95%;
      }
 }
