.policyComponent {
  background-color: rgb(34, 34, 34);
  color: whitesmoke;
}
.policyComponent main {
  padding:2% 5%;
  text-align: left;
}
.aboutContainer {
  padding:2% 10%;
  text-align: left;
}
.aboutContainer h5, .policyComponent h5 {
  text-align: center;
  padding:2.5%
}