.carouselBackground {
  background-image: url("../../images/backgrounds/concrete.avif");
}
.gallery {
  column-count: 3;
  column-width: 33%;
  padding: 0 12px;
}
.gallery .pictures {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 10%;
}
.gallery .pictures:hover {
  filter: opacity(.8)
}
.largePhoto.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.5s ease;
}
.largePhoto.inactive {
  opacity: 0;
  visibility: visible;
  transform: translateY(-20px);
  transition: all 0.5s ease;
}
@media (max-width: 991px){
  .gallery {
    column-count: 2;
  }
}
@media (max-width: 480px){
  .gallery {
    column-count: 1;
    column-width: 100%;
  }
}