.footerContainer {
    display: flex;
    justify-content: space-around;
    width: 100%
}
.quickLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    text-decoration: underline;
    justify-content: space-evenly;
    width: 20%;
}