.footerContainer {
    width: 100%;
    background-color: rgb(34,34,34);
    color: whitesmoke;
    padding: 3%;
}
.quickLinks {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    /* display: flex;
    padding-top: 1%;
    /* align-items: center; */
    /* flex-direction: column;
    text-align: center;
    list-style: none;
    text-decoration: underline;
    justify-content: space-evenly;
    width: 20%; 
} */
}
.quickLinks a {
    color: whitesmoke;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out
}
