.hoursOpen {
  width: 100%;
  padding-top: 5%;
  font-weight: 600;
}
.hoursTitle{
  /* text-decoration: underline; */
  font-size: 270% !important;
}
.gridContiner {
  width: 100%;
  display: flex;
  align-items: center;
}
.hourTitle{
  text-align: center;
}
.gridItem {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;

}