/* .darkTransparent {
    background-color: rgba(0, 0, 0, 0.143);
    width: 100vw;
    height: 200vh;
    position: absolute;
} */
.custom-Jumbo {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)),url("../../images/zoomed_landing.png");
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    margin-bottom: 20%;
}
.centered-text {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}
.jumboButton {
    color:whitesmoke;
}