.priceBackground {
  background-image: url("../../images/backgrounds/woodbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.tableContainer {
  display: flex;
  justify-content: center;
  border-radius: 20% !important;
}
.tablePrices {
  margin: 3% 0 3% 0;
  width: 60%;
}
.transparent {
  background-color: rgb(236, 231, 222);
}
.piercingHeader {
  background-color: rgb(27, 26, 26);
  color: whitesmoke;
}
.pricingInfo {
  display: flex;
  font-size: large;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
